.icon {
    border-radius: 50%;
}



.post-img {
    max-height: 20vh;

}

.profile-pic {
    height: 4vh;
    border-radius: 50%;
}

.post-info-trans {
    translate: 0px -61px;
}

.circle-style {
    color: rgb(237, 10, 158);
}

.comment-style {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: rgb(234, 234, 234);
}